*{
    margin: 0;
}
html,
body{
    height: 100%;
}
a{
    text-decoration: none;
}

/* Styles for index.html */
.main-container{
    height: 100%;
    background-color: rgb(245, 223, 125);
    color: purple;
}
.main-header{
    text-align: center;
    font-size: 44px;
    padding: 10px;
}
.dishes-list{
    text-align: center;

}
.dishes-list li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
    font-size: 22px;
    list-style: none;
}